body {
    background-color: #cbdb3b;
    border: 3px solid black;
    margin: 0;
    padding: 0;
}

.sumario li :hover {
    color: black;
}

.sumario a{
color: #a83275;
}

.sumario {
    list-style: none;
}

.sumario li ::before {
    content: "* ";
    color: black;
}


.p {
    font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.b {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

button {
    border: solid black;
    background-color: #cbdb3b;
    padding: 12px 24px;
    border-radius: 15px;
    font-size: 35px;
    transition: 0.3s;
}

button:hover {
    background-color: #e7e765;
}

button:active {
    background-color: pink;
}

#titulo{
    text-align: center;
    font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
